/* Import Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400&subset=cyrillic,cyrillic-ext,latin);

/*@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic-ext,cyrillic,latin-ext);
*/
 
/* =Base styles: custom opinionated defaults
-------------------------------------------------------------- */

body {
   font-family: 'Open Sans', sans-serif;	
	font-size: 1em;
   color: #636873;
	line-height: 1.4;  
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-width: 1200px;
}

/*
 * Add the correct box sizing for all browsers.
 */
 
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
 
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * Remove the gap between img and the bottom of their containers: h5bp.com/i/440
 */
 
img {
   vertical-align: middle;
}

/*
 * Responsive Images & Other Objects 
 */

img, object, embed {	
	max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */
 
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
 
textarea {
   resize: vertical;
}

/*
 * Chrome Frame prompt
 */
 
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
 
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
 
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
 
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 
.clearfix {
    *zoom: 1;
}

/*
 * Clear after each row
 */
 
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
 * Remove default ul styles.
 */
 
ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

/*
 * Remove default Headings styles.
 */
 
h1, h2, h3, h4, h5, h6{
   margin: 0;
   padding: 0;
   font-weight: normal;
}

/*
 * Remove default Paragraphs styles.
 */
 
p{
   margin: 0;	
}

/*
 * Add the correct box sizing and remove padding for inputs.
 */

input[type=text], input[type=search], input[type=checkbox], input[type=radio], output {
   padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

/*
 * Remove the blue styling of telephone numbers.
 */
 
a[href^=tel] {
   color: inherit;
   text-decoration: none;
}

/*
 * Remove text decoration and add trasition for links.
 */

a{
	text-decoration: none;
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	transition: all 0.10s ease-out;  
}


/* =Global Site Styles
-------------------------------------------------------------- */
#main-content{
	padding-bottom: 70px;
	background-color: #f1f1f1
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container::after {
	display: table;
	clear: both;
	content: "";
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container-fluid::after {
	display: table;
	clear: both;
	content: "";
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row::after {
	display: table;
	clear: both;
	content: "";
}
/* styling links */
a{
	text-decoration: none;
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	transition: all 0.10s ease-out;  
}
.not-active {
   pointer-events: none;
   cursor: default;
}
/* default button */
.btn{
	cursor: pointer;
	background: #2485cb;
	text-decoration: none;
	outline: none; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn:hover{
	background: #1c6294;
}
/* alerts */
.alert {
	font-size: 13px;
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid transparent;
	border-radius: 0px;
}
.alert-danger {
   text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f3515c;
	border-color: #d4323d;
	color: white;
}
.alert ol{
	margin: 10px 0;
}
.alert p{
	margin: 0;
}

/* section heading */
.section-heading{
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0,0,0,0.06);	
}
.section-heading h1{
	font-weight: 600;
	font-size: 20px;
	color: #636E88;
	/*color: #384a50;*/
	text-transform: uppercase;
	float: left;
}
.section-heading a{
	font-size: 15px;
	color: #285473;
	text-decoration: underline;
	line-height: 26px;
	float: right;
}
.section-heading a:hover{
	text-decoration: none;
}
.section-heading p{
	font-size: 14px;
	float: left;	
}
.text-results{
	font-size: 14px;
	padding-bottom: 20px;
}




/*----------------------------------------*/
/*  HEADER
/*----------------------------------------*/
/* header ribbon */
.header-ribbon{
	border-bottom: 1px solid #d4dee5;
	background-color: #f8f8f8;
	font-size: 12px;
}
.header-ribbon .nav{
	float: left;
}
.header-ribbon .nav li{
	float: left;
}
.header-ribbon .nav li a{
	font-size: 13px;
	color: #999;
	display: block;
	padding: 10px 15px;
	position: relative;
	border-right: 1px solid #d4dee5;	
}
.header-ribbon .nav li a:before { 
	content: "";
	position: absolute; 
	left: 0;  
	top: 0; 
	z-index: 1; 
	background: #5e81a8; 
	width: 100%;
	height: 2px; 
    transition: margin-left 0.2s ease, -webkit-transform 0.2s ease;
    -o-transition: margin-left 0.2s ease, transform 0.2s ease, -o-transform 0.2s ease;
    transition: margin-left 0.2s ease, transform 0.2s ease;
    transition: margin-left 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease, -o-transform 0.2s ease;
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.header-ribbon .nav li a:hover:before { 
	opacity: 1; 
	filter: alpha(opacity=100); 
}
.header-ribbon .nav li a:hover{
	text-decoration: none;
	color: #5e81a8;	
}
.header-ribbon .right-menu{
	float: right;
}
.header-ribbon .right-menu li{
	float: left;
	position: relative;
}
.header-ribbon .right-menu li a{
	font-size: 13px;
	color: #999;
	display: block;
	padding: 10px 15px;
	border-left: 1px solid #d4dee5;
}
.header-ribbon .right-menu li a:hover{
	text-decoration: none;
}
.header-ribbon .right-menu li a i{
	margin-right: 5px;
}
.header-ribbon .right-menu li.has-submenu{
	border-right: 1px solid #d4dee5;
}
.header-ribbon .right-menu li.has-submenu:after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 1px;
	height: 4px;
	width: 99%;
	background: #f8f8f8;	
	z-index: 3;
	display: none;
}
.header-ribbon .right-menu li.has-submenu:hover ul, .header-ribbon .right-menu li.has-submenu:hover:after{
	display: block;
}
/* submenu */
.header-ribbon .right-menu li ul{
	position: absolute;
	top: 38px;
	right: -1px;
	width: 110px;
	border: 1px solid #d4dee5;
	background: #f8f8f8;
	z-index: 2;
	display: none;
}
.header-ribbon .right-menu li ul li{
	float: none;
}
.header-ribbon .right-menu li ul li a{
	border-left: none;
}
.header-ribbon .right-menu li ul li a:hover{
	color: #000;
   background-color: #f5f7fa;
}
/* header main */
.header-main{
	font-size: 12px;
	position: relative;	
	padding: 30px 0;
}
.header-main:before {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background: url(../img/footer-line.1.png) repeat-x;
}
.header-main .brand{
   width: 250px;
	float: left;
}
.header-main .brand a{
   display: block;
   width: 230px;
   height: 59px;
   background: url(../img/logo.png) no-repeat;
	background-size: 84%;
   text-indent: -9000px;
}
.header-main .search-box{
	position: relative;
	float: left;
	margin: 9px 0 0 50px;
}
.header-main .search-box input[type=search]{
	position: relative;
	width: 480px;
	overflow: hidden;
	height: 40px;
	padding: 0 0 0 15px;
	border: 1px solid #cbcbcb;
	border-radius: 3px;
}
.header-main .search-box .search-button{
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
	width: 50px;
	height: 100%;
	border: none;
	background: none;
	border-radius: 0 3px 3px 0;
}
.header-main .search-box .search-button:before{
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 22px;
	color: #999;
	text-align: center;
}
.header-main .search-box .search-button:hover:before{
	color: #333;
}
.header-main .search-box .search-button span{
   display: none;
}
.header-main .user-box{
	float: right;
   margin-top: 6px;
}
.header-main .user-box li{
	float: left;
	margin-left: 25px;
}
.header-main .user-box a{
	font-size: 13px;
	color: #384a50;
	line-height: 17px;
	display: inline-block;
}
.header-main .user-box a:hover, .header-main .user-box a:hover i{
	color: #285473;
}
.header-main .user-box i{
	font-size: 35px;
	color: #384a50;
	vertical-align: middle;	
	margin: 3px 5px 0;
}
.header-main .user-box span{
	display: inline-block;
	vertical-align: middle;	
}
.header-main .user-box .user-box-auth a{
	display: block;
}
.header-main .user-box .user-box-auth .user-links{
	display: inline-block;
	vertical-align: middle;	
}
/* header menu */
/*.header-menu{
	border-bottom: 1px solid #d4dee5;	
}*/
.header-menu .nav{
	position: relative;	
}
.header-menu .nav li{
	float: left;
}
.header-menu .nav li a{
	font-size: 15px;
	color: #747474;
	padding: 15px 25px;
	display: block;
	position: relative;
	border-right: 1px solid #d4dee5;
}
.header-menu .nav li:first-child a{
	border-left: 1px solid #d4dee5;
}
.header-menu .nav li a:hover,
.header-menu .nav li.has-submenu.active > a{
	color: #285473;
}
.header-menu .nav li a:before { 
	content: "";
	position: absolute; 
	left: 50%; 
	right: 50%; 
	bottom: -0; 
	z-index: 1; 
	background: #5e81a8; 
	height: 2px; 
	-webkit-transition-property: left; 
	transition-property: left; 
	-webkit-transition-duration: 0.3s; 
	transition-duration: 0.3s; 
	-webkit-transition-timing-function: ease-out; 
	transition-timing-function: ease-out; 
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.header-menu .nav li a:hover:before { 
	left: 0; 
	right: 0; 
	opacity: 1; 
	filter: alpha(opacity=100); 
}
/* header submenu */
.header-menu .nav li.has-submenu a{
	position: relative
}
.header-menu .nav li.has-submenu.active a:after, .header-menu .nav li.has-submenu.active .header-submenu{
	display: block;
}
.header-menu .nav li.has-submenu a:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0px;
	height: 1px;
	width: 100%;
	background: #fff;
	z-index: 10;
	display: none;
}
.header-submenu{
	width: 100%;
	position: absolute;
	left: 0;
	top: 51px;
	z-index: 9;
	padding: 25px;
	border: 1px solid #d4dee5;
	border-radius: 0 0 3px 3px;
	background: #fff;	
	box-shadow: 0 3px 5px 0 rgba(51,51,51,.3);
	display: none;	
}
.header-submenu-col{
	width: 25%;
	float: left;
	padding-left: 25px;
	border-right: 1px solid #d4dee5
}
.header-submenu-col:first-child{
	padding-left: 0;
}
.header-submenu-col:last-child{
	border-right: none
}
.header-menu .nav li.has-submenu .header-submenu li{
	float: none;
}
.header-menu .nav li.has-submenu .header-submenu li a{
	border: none;
	text-decoration: underline;
	padding: 5px 0;
}
.header-menu .nav li.has-submenu .header-submenu li a:after{
	display: none;
}
.header-menu .nav li.has-submenu .header-submenu li a:hover{
	color: #285473;
	background: none;
	text-decoration: none
}
.header-menu .nav li.has-submenu .header-submenu li a:before{
	display: none;
}
/* filters */
#filters .form-group {
	float: left;
}
#filters .form-group .form-control {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
	height: 35px;
	margin-right: 15px; 
	outline: none;
	width: 200px;
}
#filters .form-group label{
	font-size: 15px;
	margin: 7px 0 0 15px;
	display: inline-block;
}
#filters .form-group input[type=radio]{
	margin-right: 6px;
	position: relative;
	top: 1px;
}
#filters .form-group .btn{
	font-size: 15px;
	color: #fff;
	margin: 1px 0 0 25px;
	display: inline-block;
	border: none;
	border-radius: 3px;
	background-color: #5e81a8;
	padding: 8px 30px;
}
#filters .form-group .btn:hover{
   background-color: #6888ad;
}


/*----------------------------------------*/
/*  RANDOM CAM BOX
/*----------------------------------------*/
#random-cam-container{
	/*background-color: #374046; второй вариант цвета для фона */ 
	background-color: #282e3e;
	padding-bottom: 40px;
	border-bottom: 1px solid #d4dee5;
}
#random-cam-container .page-heading h1{
	font-size: 20px;
	color: rgba(255,255,255,0.6);
	text-align: center;
	padding: 35px 0;
}
#random-cam-container .page-heading h1 i{
	color: #384a50;
	margin-right: 5px;
}
#random-cam-container .page-heading img{
	margin: -2px 5px 0 0;
	opacity: 0.6;
}
#random-cam-box{
	background: #fff;
	padding: 20px 30px 20px;
	margin: 0 auto;
	width: 75%;
	border-radius: 3px;
}
.random-cam-desc{
	padding-bottom: 15px;
}
.random-cam-desc i{
	font-size: 22px;
	color: #627a90;
	opacity: 0.75;
	filter: alpha(opacity=75);
	vertical-align: middle;
	padding-right: 5px;
}
.random-cam-place{
	font-size: 15px;
	float: left;
	width: 50%;
}
.random-cam-info{
	font-size: 15px;
	float: left;
	width: 50%;
}  
.random-cam-info a{
	opacity: 0.80;
	filter: alpha(opacity=80);
	color: #2a5885;	
} 
.random-cam-info:hover a, .random-cam-info:hover i{
	opacity: 1;
	text-decoration: none
} 
.random-cam-frame{
	width: 100%;
	height: 460px;
}
.random-cam-frame iframe, object, video{
	width: 100%;
	height: 100%;
}
.random-cam-bottom{
	text-align: center;
	padding: 15px 0 0;
}
.random-cam-left{
	float: left;
	width: 300px;
}
.random-cam-left .sp-stars .br-theme-fontawesome-stars .br-widget a {
	font: normal normal normal 17px/1 FontAwesome;
}
.random-cam-left .sp-stars{
	float: left;
}
.random-cam-left .random-cam-stats{
	float: left;
}
.random-cam-left .random-cam-stats li{
	font-size: 14px;
	float: left;
	padding-left: 15px;
}
.random-cam-left .random-cam-stats li i{
	padding-right: 2px;
}
.random-cam-link{
	width: 300px;
	margin: 0 auto;
}
.random-cam-link a{
	font-size: 15px;
	color: #f90;
	text-decoration: underline;
}
.random-cam-link a:hover{
	text-decoration: none;
}
.social{
	float: right;
}
.social li{
	display: inline-block;
}
.social li a{
	font-size: 15px;
   color: #fff;
	text-align: center;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #454a8c;
}
.social li a:hover{
	-ms-transform: translate(0,5px); /* IE 9 */
   	-webkit-transform: translate(0,5px);/* Chrome, Safari, Opera */
    transform: translate(0,5px);
}


/*----------------------------------------*/
/*  SINGLE CAM BOX
/*----------------------------------------*/
#single-cam-container{
	/*background-color: #374046; второй вариант цвета для фона */ 
	background-color: #282e3e;
	padding-bottom: 40px;
	border-bottom: 1px solid #d4dee5 
}
#single-cam-container .page-heading h1{
	font-size: 19px;
	color: rgba(255,255,255,0.6);
	padding: 35px 0 15px;
}
#single-cam-container .page-heading h1 i{
	color: #384a50;
	margin-right: 5px;
}
#single-cam-container .page-heading img{
	margin: -2px 5px 0 0;
	opacity: 0.6;
}
/* scam-left */
.scam-left{
	width: 75%;
	float: left;	
}
.scam-left .add{
	min-height: 90px;
	margin-top: 15px;
	display: none;
}
#single-cam-box{
	background: #fff;
	padding: 30px 30px 20px;
	border-radius: 3px;
}
.single-cam-desc{
	padding-bottom: 15px;
}
.single-cam-desc i{
	font-size: 22px;
	vertical-align: middle;
	padding-right: 5px;
}
.single-cam-place{
	font-size: 15px;
	float: left;
	width: 40%;
}
.single-cam-info{
	font-size: 15px;
	float: left;
	width: 60%;
}  
.single-cam-info a{
	color: #999;	
} 
.single-cam-info a:hover{
	color: #2485cb;	
} 
.single-cam-frame{
	width: 100%;
	height: 460px;
}
.single-cam-frame iframe, object, video{
	width: 100%;
	height: 100%;
   border: 1px solid #d4dee5;
}
.single-cam-frame > html, .single-cam-frame > body{
	overflow: hidden !important
}
.single-cam-bottom{
	text-align: center;
	padding: 15px 0 0;
}
.single-cam-left{
	float: left;
	width: 300px;
}
.single-cam-left .sp-stars .br-theme-fontawesome-stars .br-widget a {
	font: normal normal normal 17px/1 FontAwesome;
}
.single-cam-left .sp-stars{
	float: left;
}
.single-cam-left .single-cam-stats{
	float: left;
}
.single-cam-left .single-cam-stats li{
	font-size: 14px;
	float: left;
	padding-left: 15px;
}
.single-cam-left .single-cam-stats li i{
	color: #627a90;
	padding-right: 6px;
}
.single-cam-link{
	width: 300px;
	margin: 0 auto;
}
.single-cam-link a{
	font-size: 15px;
	color: #f90;
	text-decoration: underline;
}
.single-cam-link a:hover{
	text-decoration: none;
}
.single-cam-bottom .addFavotie{
	font-size: 15px;
	color: #fff;
	float: right;
	padding: 2px 10px;
	background: #666;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 20px;
}
.single-cam-bottom .addFavotie:hover{
	background: #d52c28
}
.social{
	float: right;
}
.social li{
	display: inline-block;
}
.social li a{
	font-size: 15px;
   color: #fff;
	text-align: center;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #454a8c;
}
.social li a:hover{
	-ms-transform: translate(0,5px); /* IE 9 */
   	-webkit-transform: translate(0,5px);/* Chrome, Safari, Opera */
    transform: translate(0,5px);
}
/* scam-right */
.scam-right{
	width: 25%;	
	float: left;	
	padding: 0 15px;
}
#poll{
	background: #fff;
   border: 1px solid #d4dee5;
	padding: 20px 15px;
}
.poll-stat{
	width: 100%;
	margin-bottom: 4px;
}
.poll-title{
	font-size: 14px;
	margin-bottom: 2px;
}
.poll-row{
	border-radius: 2px;
	background-color: #f2f4f7;
	overflow: hidden;
	float: left;
	width: 82%;
}
.poll-percent {
	background: #dae1e8;
	height: 20px;
	-o-transition: width 200ms ease-out;
	transition: width 200ms ease-out;
}
.poll-row-count {
	font-size: 11.5px;
	color: #55677d;
	line-height: 20px;
	text-align: center;
	margin-top: -20px;
}
.poll-row-percent {
	font-size: 12.5px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	white-space: nowrap;
	padding-top: 2px;
	text-align: right;
	float: right;
	color: #222;
	cursor: default;
}
.poll-text{
	margin-top: 10px;
	font-size: 14px;
}
#vote{
	background: #fff;
   border: 1px solid #d4dee5;
	padding: 20px 15px;
	border-radius: 3px;
}
#vote .form-group{
	padding-bottom: 10px;
}
#vote .form-group input[type="checkbox"]{
	display: inline-block;
	vertical-align: middle;
}
#vote label{
	font-size: 14px;
	padding-left: 5px;
}
#vote .btn{
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	background-color: #00B75A;
	border: none;
	border-radius: 3px;
	padding: 8px 20px;
	margin-top: 10px;
	border: 1px solid rgb(0, 183, 90)	
}
#vote .btn:hover{
   background-color: rgb(0, 163, 80);
}
.scam-right .add{
	min-height: 270px;
	margin-top: 20px;
	display: none;
}


/*----------------------------------------*/
/*  SINGLE CAM CONTENT
/*----------------------------------------*/
#single-cam-content{
	 padding: 40px 0;
}
.single-cam-description{
	padding-bottom: 30px;
}
.single-cam-description p{
	font-size: 14px;
	margin: 0;
}
.comments-container{
   border-top: 1px solid #d4dee5
}
.show-comments{
	cursor: pointer;
	font-size: 17px;
	color: #fff;
	text-align: center; 
	display: block;
	margin: 0 auto 25px auto;
	width: 246px;
	height: 30px;
	background: url(../img/show_comments_button.png) no-repeat;
	text-decoration: none;
	padding-top: 2px;
}
.comments-hidden{
	display: none;
}
.comments-list li{
	padding: 15px 0;	
   border-bottom: 1px solid #d4dee5;	
}
.comments-list li b{
	font-size: 16px;
	color: #2c3740;
}
.comments-list li .comments-time{
	font-size: 15px;
	color: #adb8c2;
	padding-left: 10px;
}
.comments-list li > p{
	font-size: 15px;
	margin: 5px 0 0 0;
}
/* serik widget */
.comments-list .comment.last {
    padding-bottom: 3px;
    border-bottom: none
}
.comments-list .author{
	font-size: 16px;
	font-weight: 600;
	color: #2c3740;
}
.comments-list .date{
	font-size: 15px !important;
	color: #adb8c2;
	padding-left: 10px;
}
.comments-list .text{
	font-size: 15px;
	margin: 5px 0 0 0;
}
#comments-form {
	margin-top: 60px;
	width: 45%;
}
#comments-form .form-group{
	padding-bottom: 10px;
}
#comments-form .form-group label{
	font-size: 14px;
	color: #838383;
	display: block;
	padding-bottom: 8px;
}
#comments-form .form-group label > span{
	color: #ff572a;
}
#comments-form .form-group .form-control{
	font-size: 13px;
	line-height: 1.42857;
	color: rgb(156, 155, 155);
	vertical-align: middle;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
	padding: 6px 12px;
	border: 1px solid rgb(214, 212, 212);
	border-radius: 3px;
	display: block;
	width: 100%;
	height: 40px;
}
#comments-form .form-group #feedback-msg.form-control{
	min-height: 175px;
}
#comments-form .btn{
	font-size: 15px;
	color: #fff;
	margin-top: 10px;
	border: none;
	display: block;
	padding: 13px 25px;
	border-radius: 3px;
   background-color: #5e81a8;
}
#comments-form .btn:hover{
   background-color: #6888ad;
}

/*----------------------------------------*/
/*  CAM LIST
/*----------------------------------------*/
.cams-block{
	padding-top: 40px;
}
/* cam list */
.cam-list{
	margin-top: 20px
}
.cam-container{
	float: left;
   width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}
.cam-desc{
	color: #285473;
	padding-bottom: 5px;
}
.cam-desc i{
	font-size: 18px;
	color: #627a90;
	vertical-align: middle;
	padding-right: 5px;
}
.cam-place{
	font-size: 14px;
	float: left;
}
.cam-info{
	font-size: 14px;
	float: right;
}  
.cam-info a{
	color: #999;	
} 
.cam-info a:hover{
	color: #e62e04;	
} 
.cam-item{
	background: #fff;
	padding: 10px;
   border: 1px solid #d4dee5;
	border-radius: 3px;
}
.cam-item:hover{
   box-shadow: 0 2px 5px 1px #dddcdd;
   /*box-shadow: 0 3px 6px 0 rgba(51,51,51,.298039);*/
}
.cam-cover{
	height: 230px;
	overflow: hidden;
}
.cam-cover img{
	width: 100%;
	display: block;
}
.cam-cover a{	
	position: relative;
	overflow: hidden;
	display: block;
}
.cam-cover img{
	width: 100%;
	display: block;
}
.cam-cover a:hover:before{
	content: '';
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.5);
	z-index: 2;
	-webkit-transition: all 2.3s ease-out 0s;
	-moz-transition: all 2.3s ease-out 0s;
	-o-transition: all 2.3s ease-out 0s;
	transition: all 2.3s ease-out 0s;
}
.cam-cover a:hover:after{
   font-family: FontAwesome;
	font-size: 24px;
	color: #fff;
	content: '\f06e';
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -12px;
	margin-top: -11px;
	z-index: 3;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.cam-bottom{
	text-align: center;
}
.cam-name{
	font-size: 14px;
	color: rgb(119, 119, 119);
	text-align: left;
	padding: 10px 0 3px;
	display: block;
}
.cam-bottom-left{
	float: left;
}
.cam-bottom .sp-stars .br-theme-fontawesome-stars .br-widget a {
	font: normal normal normal 17px/1 FontAwesome;
}
.cam-bottom .sp-stars{
	display: inline-block;
	vertical-align: middle;
}
.cam-bottom .cam-stats{
	display: inline-block;
	vertical-align: middle;
}
.cam-bottom .cam-stats li{
	font-size: 14px;
	float: left;
	padding-left: 15px;
}
.cam-bottom .cam-stats li i{
	color: #627a90;
	padding-right: 6px;
}
.cam-bottom .addFavotie{
	font-size: 15px;
	color: #fff;
	float: right;
	padding: 2px 10px;
	background: #666;
	border-radius: 3px;
	cursor: pointer;
}
.cam-bottom .addFavotie:hover{
	background: #d52c28
}
.addFavotie.liked{
	background: #d52c28
}



/*----------------------------------------*/
/*  SEARCH RESULTS
/*----------------------------------------*/
#search-results{
	padding: 40px 0 0;
}
.results-list{
	margin-top: 20px
}
.results-container{
	background: #fff;
	padding: 15px 0;
   border-bottom: 1px solid #d4dee5;
}
.results-container:last-child{
	border-bottom: none;
}
.results-title{
	font-size: 15px;
	color: #2485cb;
	text-decoration: underline;
	padding: 3px 0;
	display: block;
}
.results-title:hover{
	text-decoration: none;
}
.results-container p{
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}



/*----------------------------------------*/
/*  SITE MAP
/*----------------------------------------*/
#site-map{
	padding: 40px 0 0;
}
.map-list{
	margin-top: 20px
}
.map-container{
	background: #fff;
	padding: 15px 0;
}



/*----------------------------------------*/
/*  NEWS
/*----------------------------------------*/
/* latest news */
.latest-news {
	padding: 40px 0;
	/*background-color: #ECF1F6;*/
}
.news-list{
	margin-top: 20px
}
.news-container{
	margin-bottom: 15px;
	background: #fff;
	padding: 15px;
   border: 1px solid #d4dee5;
	border-radius: 3px;
}
.latest-news .news-photo{
	float: left;
	width: 10%;
	padding-right: 15px;
}
.news-photo img{
	border: 1px solid #99a6af;
	border-radius: 3px;
	width: 100%;
	display: block;
}
.news-desc{	
	width: 90%;
	float: left;	
}
.news-date{
	font-size: 15px;
}
.news-title{
	font-size: 15px;
	color: #2485cb;
	text-decoration: underline;
	padding: 3px 0;
	display: block;
}
.news-title:hover{
	text-decoration: none;
}
.news-desc{
	font-size: 15px;
	line-height: 18px;
}
.news-desc p{
	margin: 0;
}



/*----------------------------------------*/
/*  NEWS SINGLE
/*----------------------------------------*/
/* news main */
#news-single {
	padding: 40px 0 0;
	/*background-color: #ECF1F6;*/
}
#news-single h1{
	font-weight: 600;
	font-size: 20px;
	color: #384a50;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0,0,0,0.06);
}
.news-single-container{
	padding: 20px 0;
}
.news-photo{
	float: left;
	width: 20%;
	padding-right: 15px;
	padding-bottom: 15px;
}
.news-photo img{
	border: 1px solid #99a6af;
	border-radius: 3px;
	width: 100%;
	display: block;
}
.news-single-container p{
	font-size: 15px;
	line-height: 18px;
	margin: 0;
}
.news-single-container .add{
	min-height: 100px;
	margin-top: 20px;
	display: none;
}



/*----------------------------------------*/
/*  BREADCRUMBS
/*----------------------------------------*/
.breadcrumbs-container{
	padding-left: 15px;
	padding-right: 15px;
   border-top: 1px solid #d4dee5;
   border-bottom: 1px solid #d4dee5;
	background-color: #fff;
}
.breadcrumbs{
	padding: 12px 0;
}
.breadcrumbs li{
	font-size: 13px;
   display: inline-block;
   position: relative;
   margin-right: 10px;
}
.breadcrumbs li:before{
   font-family: 'FontAwesome';
	font-size: 13px;
	color: #999;
   content: '\f105';
	display: inline-block;
	vertical-align: middle;
	margin: -3px 10px 0 0;
}
.breadcrumbs li:first-child:before{
	display: none;
}
.breadcrumbs li a{
	font-size: 13px;
	opacity: 0.80;
	filter: alpha(opacity=80);
	color: #285473;
   text-decoration: none;
}
.breadcrumbs li a:hover{
	opacity: 1;
}



/*----------------------------------------*/
/*  PAGINATION
/*----------------------------------------*/
.pagination{
	margin-top: 40px;
}
.pagination li{
	float: left;
	margin-right: 5px;
}
.pagination li a{
	font-size: 14px;
	opacity: 0.80;
	filter: alpha(opacity=80);
	color: #285473;
	display: block;
	padding: 8px 15px;
	border-radius: 3px;
	background-color: #fff;
   border: 1px solid #d4dee5;
}
.pagination li.active a{
	background-color: #f0f6ff;
	color: #000;
}
.pagination li a:hover{
	opacity: 1;
}
.pagination li.disabled{
	display: none;
}



/*----------------------------------------*/
/*  SIMPLE PAGE
/*----------------------------------------*/
#simple-page{
	padding: 40px 0 0;
}
#simple-page h1{
	font-weight: 600;
	font-size: 20px;
	color: #384a50;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0,0,0,0.06);
}
.simple-page-container {
   padding: 20px 0;
}
.simple-page-container p{
	font-size: 14px;
}
#simple-page a{
	color: #285473;
	text-decoration: underline;
}
#simple-page a:hover{
	text-decoration: none;
}



/*----------------------------------------*/
/*  HELP
/*----------------------------------------*/
#help-page .help-item{
	padding-bottom: 20px;
}
#help-page .help-item .help-icon{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 50px;
}
#help-page .help-item p{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}






/*----------------------------------------*/
/*  FOOTER
/*----------------------------------------*/
#footer {
	padding: 30px 0;
	background-color: #394650;
}
#footer .footer-left{
	float: left;
	padding-top: 2px;
}
#footer .footer-right{
	float: right;
}
#footer .copyright{
	font-size: 14px;
	color: #fff;
	margin: 0;
}
#footer .footer-menu{
	display: inline-block;
	padding-left: 50px
}
#footer .footer-menu li{
	display: inline-block;
}
#footer .footer-menu li a{
	font-size: 14px;
   color: #fff;
	display: block;
	margin: 0 12px;
}
#footer .footer-menu li a:hover{
	text-decoration: underline
}
#footer .footer-right span{
	font-size: 14px;
   color: #fff;
	display: inline-block;
	vertical-align: middle
}
/* footer social */
#footer .footer-social{
	display: inline-block;
	vertical-align: middle
}
#footer .footer-social li{
	display: inline-block;
}
#footer .footer-social li a{
	font-size: 20px;
   color: #fff;
	text-align: center;
	display: block;
	border-radius: 3px;
	margin: 0 3px;
}
#footer .footer-social li a:hover{
	-ms-transform: translate(0,5px); /* IE 9 */
   	-webkit-transform: translate(0,5px);/* Chrome, Safari, Opera */
    transform: translate(0,5px);
}



/*----------------------------------------*/
/*  AUTH PAGE
/*----------------------------------------*/
.auth-page{
	background: #edeef0;
	width: 100%;
	height: 100vh;
}
.auth-form{
	text-align: center;
	background: rgba(255, 255, 255, 1);
	width: 420px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	padding: 40px 40px 20px;
    border: 1px solid #d4dee5;
	border-radius: 3px;
}
#reset-form{
	padding-top: 20px;
}
.auth-form img{
	padding-bottom: 40px;
	width: 50%;
}
.auth-form p{
	font-size: 14px;
}
.auth-form .error{
	color: red;
	font-size: 13px;
}
.auth-form .form-group{
	text-align: left;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
}
.auth-form .form-group-label{
	font-size: 14px;
	color: #666;
	padding-bottom: 5px;
}
.auth-form .form-group i{
	color: #454a8c;
	font-size: 19px;
	position: absolute;
	top: 13px;
	left: 15px;
}
.auth-form .form-group .form-control{
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
	height: 45px;
	width: 100%;
	outline: none;
}
.auth-form .form-group textarea{
	border: 1px solid #555;
	font-size: 15px;
	text-align: left;
	padding: 15px;
	height: 95px;
	width: 100%;
	outline: none;
}
.auth-form .form-group .form-control[type=checkbox]{
	border: 1px solid #99d4f3;
	height: auto;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 2px 5px 0 0;
}
.auth-form .alerts{
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.auth-form .alerts p{
	font-size: 13px;
	color: #a94442;
	margin: 0;
}
.help-block{
	font-size: 13px;
	color: #a94442;
	margin: 5px 0 0 0;	
}
.auth-form .remember{
	float: left;
	cursor: pointer
}
.auth-form .remember > span{
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
}
.auth-form .forgot{
	float: right;
}
.auth-form .forgot a{
	font-size: 13px;
	color: #d66011;
}
.auth-form .forgot a:hover{
	font-size: 13px;
	color: #b13448;
}
.auth-form .back-link{
	font-size: 15px;
	color: #666;
	float: left;
	text-decoration: underline;
}
.auth-form .back-link:hover{
	text-decoration: none;
}
.auth-form .info-link{
	font-size: 13px;
	color: #d66011;
}
.auth-form .btn{
	font-size: 17px;
	color: #fff;
	outline: none;
	width: 100%;
	height: 45px;
	display: inline-block;
	margin: 0 auto 15px;
	position: relative;
	padding: 0;
	border: none;
   background-color: #5e81a8;
	border-radius: 3px;	
}
.auth-form .btn:hover{
   background-color: #6888ad;
}



/*----------------------------------------*/
/*  POPUP
/*----------------------------------------*/
.mfp-close-btn-in .mfp-close{
	color: #cc2128 !important
}
.popup-authform{
	text-align: center;
	position: relative;
	border-radius: 6px;
	background: #fff;
	padding: 30px 20px;
	width: 580px;
	margin: 20px auto;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
}
.popup-authform .popup-title{
	font-weight: 600;
	font-size: 23px;
	margin-bottom: 15px;
	display: inline-block;
}   
.popup-authform a{
	color: #2485cb;
	text-decoration: underline
}
.popup-authform a:hover{
	text-decoration: none
}



/*----------------------------------------*/
/*  ERROR PAGE
/*----------------------------------------*/
#error-page {
	text-align: center;
	height: 100vh;
	white-space: nowrap;
	word-break: normal;
	background-color: #f1f1f1;
}
#error-page-vertical-align {
   height: 100%
}
#error-page-content, #error-page-vertical-align {
   vertical-align: middle;
   display: inline-block;
}
#error-page-illustration {
   margin-bottom: -25px;
}
#error-page-hh-illustration {
   margin-bottom: 10px;
}
#error-page-content p {
	width: 500px;
	margin: auto;
	color: #333;
	font-size: 16px;
	white-space: normal;
	text-shadow: 0 1px 1px #fff;
	text-shadow: 0 0 0 transparent, 0 1px 1px #fff;
}
#error-page-content #masthead {
	margin: 15px auto;
	width: 440px;
}
#error-page-content #yt-masthead {
	margin: 15px auto;
	width: 440px;
	margin-top: 25px;
}
#error-page-content #logo-container {
	float: left;
	margin-right: 20px;
	margin-top: 7px;
	width: 100px;
}
#error-page-content .search-box{
	position: relative;
	float: left;
}
#error-page-content .search-box input[type=search]{
	font-size: 15px;
	position: relative;
	width: 300px;
	overflow: hidden;
	height: 35px;
	padding: 0 0 0 15px;
	border: 1px solid #cbcbcb;
	border-radius: 3px;
}
#error-page-content .search-box .search-button{
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
	width: 50px;
	height: 100%;
	border: none;
	background: none;
	border-radius: 0 3px 3px 0;
}
#error-page-content .search-box .search-button:before{
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 22px;
	color: #999;
	text-align: center;
}
#error-page-content .search-box .search-button:hover:before{
	color: #333;
}
#error-page-content .search-box .search-button span{
   display: none;
}
#page.oops-content {
	text-align: center;
	padding-top: 40px;
}
iframe[height="1px"] {
    display: none;
}

























